// COLOURS
$fontColor: #36454f;
$accentOne: #92c9db;
$accentTwo: #f0f9fc;
$accentThree: #708090;
// $accentTwoDark: #0a75f7;
$white: #ffffff;
// $darkGrey: #3b4045;
$mediumGrey: #777777;
$lightGrey: #d3d3d3;
$black: #000009;
// $hover: #e88307;
$hoverGrey: #eaeaea;
$boxShadow: rgba(119,119,119,0.5);

$pink:#d3d3d3;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Merriweather:ital,wght@1,300;1,400&display=swap');
$regularfont: 'Josefin Sans', sans-serif;
$quoteFont: 'Merriweather', serif;

// FLEX CENTER MIXIN
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// POSITION MIXIN
@mixin position($type, $top, $right, $bottom, $left) {
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// FONT MIXIN
@mixin fontStyle(
    $fontSize, 
    $fontColor,
    $fontFamily,
    $fontStyle,
    $weight, 
    $lineHeight,
    $letterSpacing
    ) {
  font-size: $fontSize;
  color: $fontColor;
  font-family: $fontFamily;
  font-style: $fontStyle;
  font-weight: $weight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

// MEDIA QUERY MIXINS
@mixin forSmallerScreen {
  @media (max-width: 450px) { @content; }
}
@mixin forSmallPhone {
    @media (max-width: 525px) { @content; }
}
@mixin forPhone {
    @media (max-width: 700px) { @content; }
}
@mixin forSmallTablet {
    @media (max-width: 850px) { @content; }
}
@mixin forTablet {
    @media (max-width: 900px) { @content; }
}
@mixin forSmallDesktop {
    @media (max-width: 1200px) { @content; }
}
@mixin forBigDesktop {
    @media (min-width: 1200px) { @content; }
}